#adsplacer_pro_blocker_container {
	display:block;
	padding:0;
	margin:0;
	overflow:hidden;
}
#adsplacer_pro_blocker_ad_container {
	position:absolute;
	width:100%;
	cursor:pointer;
	background: #fff;
	z-index: 9999;
	font-size: 100%;
}
#adsplacer_pro_blocker_ad {
	width:100%;
	text-align: center;
	margin-top: 7px;
}
#adsplacer_pro_blocker_ad_button {
	font-size: 1.375rem;
	margin: 15px 0;
	display: block;
	font-family: Arial, serif;
	text-align: center;
	width:100%;
	padding: 10px 0;
}
#adsplacer_pro_blocker_ad_button_top {
	font-size: 1.375rem;
	margin: 5px 0;
	display: block;
	font-family: Arial, serif;
	text-align: center;
	width:100%;
	padding: 5px 0;
}